﻿﻿@{
    Layout = "_AdminLayout";
}
@model HelloDocMVC.Entity.DataModels.HealthProfessional;

@* heading *@
<div class="container px-5">
    <div class="d-flex justify-content-between mt-4">
        <div class="d-flex align-self-center">
            <h4><strong>@ViewData["Heading"] Business</strong></h4>
        </div>
    </div>
    <div class="bg-white rounded shadow mt-3 p-3">
        <form method="post" id="AddBusinessForm" asp-action="AddEditBusiness" asp-controller="Partners">
            <input type="hidden" asp-for="VendorId" />
            <div class="row">
                <div class="col-lg-6">
                    <input asp-for="VendorName" class="form-control col-md mt-4" type="text" id="username" placeholder="BusinessName" required />
                </div>
                <div class="col-lg-6">
                    <select class="form-select col-md mt-4" asp-for="Profession" data-allow-clear="true" tabindex="-1" id="Profession" asp-items="@(new SelectList(ViewBag.Profession,"HealthProfessionalId","ProfessionName"))" data-control="select2" data-placeholder="Select Level">
                        <option value="">Select Professions</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="dropdown col-lg-6 mt-4">
                    <input asp-for="FaxNumber" class="form-control col-md mt-4" type="text" id="username" placeholder="Fax Number" required />
                </div>
                <div class="dropdown col-lg-6 mt-4">
                    <input asp-for="PhoneNumber" class="form-control col-md mt-4" type="tel" id="username" placeholder="Phone Number" required />
                </div>
            </div>
            <div class="row">
                <div class="dropdown col-lg-6 mt-4">
                    <input asp-for="Email" class="form-control col-md mt-4" type="email" id="username" placeholder="Email" required />
                </div>
                <div class="dropdown col-lg-6 mt-4">
                    <input asp-for="BusinessContact" class="form-control col-md mt-4" type="text" id="username" placeholder="Business Contact" required />
                </div>
            </div>
            <div class="row">
                <div class="dropdown col-lg-6 mt-4">
                    <input class="form-control col-md mt-4" type="text" asp-for="Address" placeholder="Street" />
                </div>
                <div class="dropdown col-lg-6 mt-4">
                    <input asp-for="City" class="form-control col-md mt-4" type="text" placeholder="City" />
                </div>
            </div>
            <div class="row">
                <div class="dropdown col-lg-6 mt-4">
                    <input asp-for="State" class="form-control col-md mt-4" type="text" placeholder="State" />
                </div>
                <div class="dropdown col-lg-6 mt-4">
                    <input class="form-control col-md mt-4" type="text" asp-for="Zip" placeholder="Zip Code" />
                </div>
            </div>
            @* save button ~ acc info *@
            <div class="d-flex justify-content-end align-items-center mt-4">
                <div class="d-flex justify-content-end ">
                    <button id="edit1" type="submit" class="btn btn-info text-white rounded py-2 px-3 me-2 editprofile">Save</button>
                </div>
                <div>
                    <a id="edit1" onclick="" class="btn border border-info text-info">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>