﻿@{
    Layout = "_LayoutAdminDashboard";
}
@model HelloDocMVC.Entity.Models.ViewEncounter;

<div class="container">
    @* heading *@
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
            <h4><strong>Encounter Form</strong></h4>
        </div>
        <a asp-controller="Admin" asp-action="Index" class="btn border border-info bg-light rounded mt-3 mb-1">
            <span class="text-info">
                <i class="fa fa-angle-left align-middle"></i>
                <b>&nbsp;&nbsp;Back</b>
            </span>
        </a>
    </div>
    @* Case Information *@
    <div class="bg-white rounded shadow mt-3">
        <div class="p-4">
            @* heading *@
            <div class="col-12 d-flex justify-content-center">
                <h1 class="text-info">Medical Report-Confidencial</h1>
            </div>
            @* data *@
            <form asp-action="EncounterEdit" asp-controller="Admin" class="row g-3 " enctype="multipart/form-data">
                <input asp-for="RequesClientid" name="RequesClientid" type="hidden">
                <input type="hidden" asp-for="Requesid" />
                <input type="hidden" asp-for="EncounterID" />

                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="FirstName" type="text" class="form-control shadow-none inputs" id="FirstName" disabled>
                        <label for="FirstName">First Name</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="LastName" type="text" class="form-control shadow-none inputs" id="LastName" disabled>
                        <label for="LastName">Last Name</label>
                    </div>
                </div>
                <div class="col-lg-12 pb-3">
                    <div class="form-floating">
                        <input asp-for="Location" type="text" class="form-control shadow-none inputs" id="Location" disabled>
                        <label for="Location">Address</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="DOB" type="date" class="form-control shadow-none inputs" id="DOB" disabled>
                        <label for="DOB">Date Of Birth</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Date" type="date" class="form-control shadow-none inputs" id="Date" disabled>
                        <label for="Date">Date</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="PhoneNumber" type="text" class="form-control shadow-none inputs" id="PhoneNumber" disabled>
                        <label for="PhoneNumber">Phone Number</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Email" type="text" class="form-control shadow-none inputs" id="Email" disabled>
                        <label for="Email">Email</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="HistoryOfP" type="text" class="form-control shadow-none inputs" id="HistoryOfP">
                        <label for="HistoryOfP">History Of Patient Illness/injury</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="HistoryOfMedical" type="text" class="form-control shadow-none inputs" id="HistoryOfMedical">
                        <label for="HistoryOfMedical">History Of Medical</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Medications" type="text" class="form-control shadow-none inputs" id="Medications">
                        <label for="Medications">Medications</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Allergies" type="text" class="form-control shadow-none inputs" id="Allergies" required>
                        <label for="Allergies">Allergies</label>
                        <span asp-validation-for="Allergies" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 pb-3">
                    <div class="form-floating">
                        <input asp-for="Temp" type="text" class="form-control shadow-none inputs" id="Temp">
                        <label for="Temp">Temp</label>
                    </div>
                </div>
                <div class="col-md-4 pb-3">
                    <div class="form-floating">
                        <input asp-for="Hr" type="text" class="form-control shadow-none inputs" id="HR">
                        <label for="HR">HR</label>
                    </div>
                </div>
                <div class="col-md-4 pb-3">
                    <div class="form-floating">
                        <input asp-for="Rr" type="text" class="form-control shadow-none inputs" id="RR">
                        <label for="RR">RR</label>
                    </div>
                </div>
                <div class="col-lg-2 pb-3">
                    <div class="form-floating">
                        <input asp-for="BloodPressureS" type="text" class="form-control shadow-none inputs" id="BloodPressureS">
                        <label for="BloodPressureS">Blood pressure (s)</label>
                    </div>
                </div>
                <div class="col-lg-2 pb-3">
                    <div class="form-floating">
                        <input asp-for="BloodPressureD" type="text" class="form-control shadow-none inputs" id="BloodPressureD">
                        <label for="BloodPressureD">Blood pressure (d)</label>
                    </div>
                </div>
                <div class="col-lg-4  pb-3">
                    <div class="form-floating">
                        <input asp-for="O2" type="text" class="form-control shadow-none inputs" id="O2">
                        <label for="O2">O2</label>
                    </div>
                </div>
                <div class="col-lg-4 pb-3">
                    <div class="form-floating">
                        <input asp-for="Pain" type="text" class="form-control shadow-none inputs" id="Pain">
                        <label for="Pain">Pain</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Heent" type="text" class="form-control shadow-none inputs" id="Heent">
                        <label for="Heent">Heent</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="CV" type="text" class="form-control shadow-none inputs" id="CV">
                        <label for="CV">CV</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Chest" type="text" class="form-control shadow-none inputs" id="Chest">
                        <label for="Chest">Chest</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="ABD" type="text" class="form-control shadow-none inputs" id="ABD">
                        <label for="ABD">ABD</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Extr" type="text" class="form-control shadow-none inputs" id="Extr">
                        <label for="Extr">Extr</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Skin" type="text" class="form-control shadow-none inputs" id="Skin">
                        <label for="Skin">Skin</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Neuro" type="text" class="form-control shadow-none inputs" id="Neuro">
                        <label for="Neuro">Neuro</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Other" type="text" class="form-control shadow-none inputs" id="Other">
                        <label for="Other">Other</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Diagnosis" type="text" class="form-control shadow-none inputs" id="Diagnosis">
                        <label for="Diagnosis">Diagnosis</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Treatment" type="text" class="form-control shadow-none inputs" id="Treatment" required>
                        <label for="Treatment">Treatment Plan</label>
                        <span asp-validation-for="Treatment" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="MedicationsDispensed" type="text" class="form-control shadow-none inputs" id="MedicationsDispensed" required>
                        <label for="MedicationsDispensed">Medications Dispensed</label>
                        <span asp-validation-for="MedicationsDispensed" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Procedures" type="text" class="form-control shadow-none inputs" id="Procedures" required>
                        <label for="Procedures">Procedures</label>
                        <span asp-validation-for="Procedures" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 pb-3">
                    <div class="form-floating">
                        <input asp-for="Followup" type="text" class="form-control shadow-none inputs" id="Followup" required>
                        <label for="Followup">Followup</label>
                        <span asp-validation-for="Followup" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer border-0 bg-transparent text-end">
                    <button type="submit" class="btn btn-info text-white">Save Changes</button>
                    @{
                        if (CV.role() == "Physician")
                        {
                            <button type="submit" value="Finalize" asp-action="Finalize" asp-controller="Admin" class="btn btn-danger btn-cancel ">Finalize</button>
                        }
                    }
                    <a class="btn btn-outline-danger btn-cancel" asp-action="Index" asp-controller="Admin">
                        cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

