@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdminDashboard";
}
@using static HelloDocMVC.Entity.Models.Constant;
@model HelloDocMVC.Entity.Models.CountStatusWiseRequestModel

<div class="mx-sm-1 mx-md-2 mx-xxl-4 mt-0">
    <partial name="AssignCase.cshtml" />
    <partial name="CancelCase.cshtml" />
    <partial name="BlockCase.cshtml" />
    <partial name="ClearCase.cshtml" />
    <partial name="TransferCase.cshtml" />
    <partial name="SendAgreement.cshtml" />
    <partial name="_States.cshtml" />
    <div id="SearchResult"></div>
</div>
<script>
    $(function () {
        var val = 1;
        $("#hiddenfirst").val(val);
        $("#filterForm").submit();
    });
</script>