@*@model HelloDocMVC.Entity.Models.Patient;*@
@{
    ViewData["Title"] = "Login";
}
@model HelloDocMVC.Entity.DataModels.AspNetUser;
<div class="container backimg">
        <div class="row">
            <div class="col-12 text-center heading">
                <img src="~/images/Fig56._Patient_site_1-removebg-preview.png" alt="Patient">
                <div class="Moon">
                    <i class="fa fa-light fa-moon-o fa-2x text-info"></i>
                </div>
            </div>
        </div>
    <div class="patient text-center d-flex flex-column align-item-center justify-content-center">
        <div class="back">
            <a asp-controller="Home" asp-action="Index"><i class='fa fa-angle-left fa-lg my-2 text-info me-1'>Back</i></a>
        </div>
        <h3 class="my-4">Login into your account</h3>
        @ViewData["error"]
        @TempData["emailmessage"]
        @ViewData["EmailCheck"]
        <form asp-action="Index" asp-controller="Login" method="post" class="text-center d-flex flex-column align-item-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center flex-column formBody"> 
                    <div class="col-md-6 col-lg-4 col-xl-3 form-floating mb-3 d-flex justify-content-center align-item-center">
                    <input name="Email" asp-for="Email" type="email" class="form-control" id="floatingInput" name="Email" placeholder="name@example.com">
                        <label for="floatingInput">
                            Email address
                        </label>
                        <i class="fa fa-user-circle-o icon" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 form-floating mb-3 d-flex justify-content-center align-item-center">
                    <input name="PasswordHash" asp-for="PasswordHash" type="password" class="form-control" name="PasswordHash" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label><i class="fa fa-eye icon" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center align-items-center mb-3">
                        <button type="submit" class="btn btn-info btn-block mb-4 form-control text-light ">
                            Login
                        </button>
                    </div>
                    <div class="col">
                        <a asp-controller="Login" asp-action="Forgetpass" class="link-underline link-underline-opacity-0 text-info text-decoration-none">
                            Forgot password?
                        </a>
                    </div>
                </div>
            </form>
</div>





