@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="container ">
        <div class="row plogin align-center d-flex flex-column">
            <a class="col-5 align-self-center btn btn-lg btn-info m-3 mx-auto text-decoration-none text-light" asp-controller="Home" asp-action="Index">
                Patient
            </a>
            <a class="col-5 align-self-center btn btn-lg btn-primary m-3 mx-auto text-decoration-none text-light" asp-controller="AdminLogin" asp-action="Index">
                Admin/Provider 
            </a>
        </div>
    </div>
</body>
