@{
    ViewData["Title"] = "Patient";
}
@using HelloDocMVC.Entity.Models;
@model Patient;
<body class="bg-light">
    <div class="backBtn">
        <a asp-controller="Forms" asp-action="Index"><i class='fa fa-angle-left text-info p-2'>Back</i></a>
    </div>
    <form class="bg-white container mt-5 sbox p-5" method="post" enctype="multipart/form-data">
        <h5><b>Patient Information</b></h5>
        <div class="form-group p-3">
            <textarea asp-for="Symptoms" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Enter Brief Details of Symptoms"></textarea>
        </div>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input asp-for="FirstName" type="text" class="form-control" id="name" placeholder="fname" required>
                <label for="name">First Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 p-3 form-floating">
                <input asp-for="LastName" type="text" class="form-control" id="naming" placeholder="lname">
                <label for="naming">Lastname</label>
            </div>
            <div class="row">
                <div class="form-group col-md-6 p-3 form-floating">
                    <input asp-for="DOB" type="date" class="form-control" id="name" placeholder="DOB">
                    <label for="name">Date of Birth</label>
                </div>
            </div>
        </div>
        <h5><b>Patient Contact Information</b></h5>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email">
                <label for="email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating my-3">
                <input asp-for="Mobile" type="tel" class="form-control shadow-none" id="phone">
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4" id="username" style="display:none;">
                <input asp-for="UserName" type="text" class="form-control shadow-none" id="uname" placeholder="Username">
                <label for="uname">UserName</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4" id="password" style="display:none;">
                <input asp-for="PasswordHash" type="text" class="form-control shadow-none" id="pass" placeholder="Password">
                <label for="pass">Confirm Password</label>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
        </div>
        <h5><b>Patient Location</b></h5>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input asp-for="Street" type="text" class="form-control" id="name" placeholder="Street">
                <label for="name">Street</label>
            </div>
            <div class="col-md-6 p-3 form-floating">
                <input asp-for="City" type="text" class="form-control" id="naming" placeholder="City">
                <label for="naming">City</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input asp-for="State" type="text" class="form-control" id="name" placeholder="State">
                <label for="name">State</label>
            </div>
            <div class="col-md-6 p-3 form-floating">
                <input asp-for="ZipCode" type="text" class="form-control" id="naming" placeholder="ZipCode">
                <label for="naming">Zipcode</label>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input type="text" class="form-control" id="name" placeholder="Room">
                <label for="name">Room #/Suite(Optional)</label>
            </div>
        </div>
        <h5><b>(Optional) Upload Photo or Document</b></h5>
        <div class="input-group mb-3 form-control">
            <div class="col-xl-11">
                <p class="selected-filename " id="selectedFilename">No file chosen.</p>
            </div>
            <div class="upload col-xl-1">
                <input asp-for="UploadFile" type="file" id="myFile" class="custom-file-input" onchange="displayFilename()"
                       style="display: none;">
                <label for="myFile" class="input-group-text bg-info text-white"><i class="fa fa-cloud-upload pe-1"></i>Upload</label>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-info text-white mx-2">Submit</button>
            <button type="button" class="btn btn-outline-info text-info">Cancel</button>
        </div>
    </form>
    <script src="~/js/custom.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#email").focusout(function () {
                var email = $("#email").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckEmail")?email=' + email,
                    cache: false,
                    success: function (response) {
                        var flag = response.isAspnetuser;
                        if (flag) {
                            // Show the username and password fields
                            $("#username").show();
                            $("#password").show();
                        } else {
                            $("#username").hide();
                            $("#password").hide();
                        }
                    },
                    error: function () {
                        alert("Error while checking email.");
                    }
                });
            });
        });
    </script>
</body>