﻿@{
    Layout = "_LayoutAdminLogin";
}
@model HelloDocMVC.Entity.Models.Patient
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="~/css/patient.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/patient.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>

<div class="align-self-center min-vw-50 mt-5">
    <h3 class="py-3">Login To Your Account</h3>
    <strong class="text-danger">@ViewData["error"]</strong>
    <form asp-action="Validate" asp-controller="AdminLogin" method="post">
        <div class="form-floating mb-4 email">
            <input asp-for="Email" value="admin@gmail.com" type="email" class="form-control shadow-none" id="floatingInput" placeholder="name@example.com">
            <label class="bg-transparent" for="floatingInput">Email</label>
            <span class="text-danger"></span>
        </div>
        <div class="form-floating mb-4 password">
            <input asp-for="PasswordHash" value="admin" type="password"  class="form-control shadow-none eyehide" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <span class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-info text-white w-100 mb-4" role="button">Login</button>
    </form>
    <a asp-controller="Login" asp-action="Forgetpass" class="text-decoration-none d-flex justify-content-center"><strong class="text-info">Forgot Password?</strong></a>
</div>